<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>{% trans %}Symfony with Chaplin.js and Backbone.js{% endtrans %} • TodoMVC</title>
	{% stylesheets '@DunglasTodoMVCBundle/Resources/public/assets/base.css'
            '@DunglasTodoMVCBundle/Resources/public/css/app.css'
        %}
        <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
        {% endstylesheets %}
	<!--[if IE]>
        {% javascripts '@DunglasTodoMVCBundle/Resources/public/assets/ie.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
	<![endif]-->
</head>
<body>
	<section id="todoapp">
		<header id="header">
			<h1>{% trans %}todos{% endtrans %}</h1>
			<input id="new-todo" placeholder="{% trans %}What needs to be done?{% endtrans %}" autofocus>
		</header>
		<!-- This section should be hidden by default and shown when there are todos -->
		<section id="main">
			<input id="toggle-all" type="checkbox">
			<label for="toggle-all">{% trans %}Mark all as complete{% endtrans %}</label>
			<ul id="todo-list">
			</ul>
		</section>
		<!-- This footer should hidden by default and shown when there are todos -->
		<footer id="footer">
			<!-- This should be `0 items left` by default -->
			<span id="todo-count"><strong>0</strong> item left</span>
			<!-- Remove this if you don't implement routing -->
			<ul id="filters">
				<li>
					<a class="selected" href=".">All</a>
				</li>
				<li>
					<a href="active">Active</a>
				</li>
				<li>
					<a href="completed">Completed</a>
				</li>
			</ul>
			<button id="clear-completed">Clear completed (1)</button>
		</footer>
	</section>
	<footer id="info">
		<p>{% trans %}Double-click to edit a todo{% endtrans %}</p>

		<p>Created by <a href="http://dunglas.fr">Kévin Dunglas</a></p>
		<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
	</footer>
        
        {% javascripts '@DunglasTodoMVCBundle/Resources/public/js/vendor/require-2.1.4.js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
        window.Api = {
            get_todos: '{{ path('get_todos')|escape('js') }}' 
        }

        window.Data = {
            // TODO: Escape end of script
            todos: {{ todos|serialize|raw }}
        }
    
        // Configure the AMD module loader
        requirejs.config({
          // The path where your JavaScripts are located
          baseUrl: '{{ asset('bundles/dunglastodomvc/js/')  }}',
          // Specify the paths of vendor libraries
          paths: {
            jquery: 'vendor/jquery-1.9.0',
            underscore: 'vendor/underscore-1.4.3',
            backbone: 'vendor/backbone-0.9.10',
            handlebars: 'vendor/handlebars-1.0.rc.2',
            text: 'vendor/require-text-2.0.3',
            chaplin: 'vendor/chaplin'
          },
          // Underscore and Backbone are not AMD-capable per default,
          // so we need to use the AMD wrapping of RequireJS
          shim: {
            underscore: {
              exports: '_'
            },
            backbone: {
              deps: ['underscore', 'jquery'],
              exports: 'Backbone'
            },
            handlebars: {
              exports: 'Handlebars'
            }
          }
          // For easier development, disable browser caching
          // Of course, this should be removed in a production environment
          {% if app.environment == 'dev' %}, urlArgs: 'bust=' +  (new Date()).getTime(){% endif %}
        });

        // Bootstrap the application
        require(['application'], function (Application) {
          var app = new Application('{{ path('dunglas_todomvc_default_index') }}');
          app.initialize();
        });
        </script>
</body>
</html>